21 march 2023, tisdag
Dataset link from kaggle. Testing out if it works out the same way or giving same errors. 
https://www.kaggle.com/datasets/georgescutelnicu/top-100-popular-movies-from-2003-to-2022-imdb

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv(r'/Users/ecombo/Desktop/DS_project/movies.csv')

In [3]:
df.head(5)

,Title,Rating,Year,Month,Certificate,Runtime,Directors,Stars,Genre,Filming_location,Budget,Income,Country_of_origin
0,Avatar: The Way of Water,7.8,2022,December,PG-13,192,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver...","Action, Adventure, Fantasy",New Zealand,"$350,000,000","$2,267,946,983",United States
1,Guillermo del Toro's Pinocchio,7.6,2022,December,PG,117,"Guillermo del Toro, Mark Gustafson","Ewan McGregor, David Bradley, Gregory Mann, Bu...","Animation, Drama, Family",USA,"$35,000,000","$108,967","United States, Mexico, France"
2,Bullet Train,7.3,2022,August,R,127,David Leitch,"Brad Pitt, Joey King, Aaron Taylor Johnson, Br...","Action, Comedy, Thriller",Japan,"$85,900,000","$239,268,602","Japan, United States"
3,The Banshees of Inisherin,7.8,2022,November,R,114,Martin McDonagh,"Colin Farrell, Brendan Gleeson, Kerry Condon, ...","Comedy, Drama",Ireland,Unknown,"$19,720,823","Ireland, United Kingdom, United States"
4,M3gan,6.4,2022,December,PG-13,102,Gerard Johnstone,"Jenna Davis, Amie Donald, Allison Williams, Vi...","Horror, Sci-Fi, Thriller",New Zealand,"$12,000,000","$171,253,910",United States

In [4]:
df.describe()

            Rating         Year
count  1999.000000  2000.000000
mean      6.661631  2012.500000
std       0.911507     5.767723
min       1.900000  2003.000000
25%       6.100000  2007.750000
50%       6.700000  2012.500000
75%       7.300000  2017.250000
max       9.000000  2022.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              2000 non-null   object
 1   Rating             1999 non-null   float64
 2   Year               2000 non-null   int64
 3   Month              2000 non-null   object
 4   Certificate        1966 non-null   object
 5   Runtime            2000 non-null   object
 6   Directors          2000 non-null   object
 7   Stars              2000 non-null   object
 8   Genre              2000 non-null   object
 9   Filming_location   2000 non-null   object
 10  Budget             2000 non-null   object
 11  Income             2000 non-null   object
 12  Country_of_origin  2000 non-null   object
dtypes: float64(1), int64(1), object(11)
memory usage: 203.2+ KB

In [7]:
df.shape

(2000, 13)

In [10]:
df.isna().sum()

Title                 0
Rating                1
Year                  0
Month                 0
Certificate          34
Runtime               0
Directors             0
Stars                 0
Genre                 0
Filming_location      0
Budget                0
Income                0
Country_of_origin     0
dtype: int64

In [76]:
# There is a movie without rating! Lets find out
movie_wo_rating = df[df['Rating'].isna()]['Title']
print(f' Movie without rating: {movie_wo_rating}')

 Movie without rating: 85    A Man Called Otto
Name: Title, dtype: object

In [97]:
drop_this = df[df['Title'] == 'A Man Called Otto'].index

df= df.drop(drop_this)

df= df.drop(['Certificate'], axis=1)

print(f'Current number of rows: {df.shape[0]}')
print(f'Current number of columns: {df.shape[1]}')

Current number of rows: 1999
Current number of columns: 12

In [98]:
df.isnull().any().info()

<class 'pandas.core.series.Series'>
Index: 12 entries, Title to Country_of_origin
Series name: None
Non-Null Count  Dtype
--------------  -----
12 non-null     bool
dtypes: bool(1)
memory usage: 108.0+ bytes

In [99]:
#This did not work out well // Excluded Ratings column due to dropna()
columns = df.loc[:, df.notna().all()]

for column_header in columns:
    print(column_header)

Title
Rating
Year
Month
Runtime
Directors
Stars
Genre
Filming_location
Budget
Income
Country_of_origin

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1999 entries, 0 to 1999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              1999 non-null   object
 1   Rating             1999 non-null   float64
 2   Year               1999 non-null   int64
 3   Month              1999 non-null   object
 4   Runtime            1999 non-null   object
 5   Directors          1999 non-null   object
 6   Stars              1999 non-null   object
 7   Genre              1999 non-null   object
 8   Filming_location   1999 non-null   object
 9   Budget             1999 non-null   object
 10  Income             1999 non-null   object
 11  Country_of_origin  1999 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 203.0+ KB

In [111]:
#Double checking on different code with rows are 'Unknown'

df_unknown_values = df[(df['Budget']=='Unknown')]

#| (df['Income']=='Unknown')]

IndexError: invalid index to scalar variable.

In [119]:
df.head(2)

AttributeError: 'numpy.int64' object has no attribute 'head'

### Should we replace the unknown income rows with mean  value? to get a idea 
### OR just drop the NA data there ??

#Change data type of the those 2 columns to integer
df['income'] = df1['Income'].astype(int)
df['budget'] = df1['Budget'].astype(int)
    
    
ValueError: invalid literal for int() with base 10: '$2,267,946,983 ' 
So need to get rid of currecncy symbols first. then operate with features in df.

In [68]:
#df2['Budget'] = df2['Budget'].str.replace(',', '')
#df2['Budget'] = df2['Budget'].str.replace('$', '')
#df2['Income'] = df2['Income'].str.replace('$', '')
#df2['Income'] = df2['Income'].str.replace(',', '')
#df2['Income'] = df2['Income'].str.replace('Unknown', '0')
#df2['Budget'] = df2['Budget'].str.replace('Unknown', '0')


# Convert multiple columns to float type data
df2 = df2.astype({'Budget':'float','Income':'float'})

ValueError: could not convert string to float: 'CA15000'

df2['Budget'] = df2['Budget'].astype(float)
df2['Income'] = df2['Income'].astype(float)
print(df.dtypes)

Same error msg pops up

In [ ]:
df2['Budget'] = df2['Budget'].astype(int)
df2['Income'] = df2['Income'].astype(int)

SyntaxError: invalid syntax (1676807313.py, line 1)

In [ ]:
#profit = income - budget 

def calc_profit(income, budget):
    return income-budget

df2['Profit']= calc_profit(df2['Income'], df2['Budget'])

In [ ]:
# when working with levels /categorical data, these below will come handy
from sklearn.preprocessing import LabelEncoder

In [ ]:
from sklearn.preprocessing import OneHotEncoder
import pandas.getdummies

In [ ]:
%%timeit

df2['Profit']= df2['Income'] - df2['Budget']